/*640 x 960*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-image{
    position: absolute;
    width:640px;
    height:960px;
    background-image:url(images/bg.jpg);
    opacity:1;
}
.mask{
    position: absolute;
    width:640px;
    height:960px;
    background: #161616;
    opacity:0.4;
}

.container{
    position: relative;
    width:640px;
    height:960px;
    background-color:  #7c7a7bd9;
    background-size:cover;
    margin: 5px;
    
}

.logo-container{
    position: relative;
    width:100%;
    height:50%;
}

.logo{
    position: relative;
    width: 50%;
    height: 50%;
    background-image: url(images/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.tick{
    position: relative;
    width: 26%;
    height: 26%;
    background-image: url(images/pink-tick.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    /* bottom: -13%; */
    left: 18px;
    transform: translateY(-50%);
}

.username{
  position: absolute;
  top: 390px;
  width: 100%;
  height:70px;
  right: 0;
  left: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: inherit;
  border:none;
  border-bottom:2px solid #8c8383;
  font-size: 30px;
  color:white;
}

.password{
  position: absolute;
  top: 510px;
  width: 100%;
  height:70px;
  right: 0;
  left: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: inherit;
  border:none;
  border-bottom:2px solid #8c8383; 
  font-size: 30px; 
  color:white;
}

.sign-in{
    position: relative;
    display:inline-block;
    width: 100%;
    height:104px;
    margin: 0 auto;
    line-height:60px;
    background-color:#FF3366;
    text-align: center;
    border: none;
    top: 197px;
    color:white;
    font-size:30px;
}

.forgot-password{
    position: relative;
    top: 150px;
    float: right;
    padding: 30px;
    color: white;
}

.not-reg, .cre-acc{
    text-align: center;
    font-size:21px;
    color:#ededed;
}

.cre-acc{
    margin-left:14px;
    text-decoration: none;
    color:white
}


.footer{
    position: absolute;
    width:100%;
    bottom:34px;
    font-size:20px;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: .7; /* Firefox */
    font-size:30px;
    text-indent: 50px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
    opacity: .7; /* Firefox */
    font-size:30px;
    text-indent: 50px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
    opacity: .7; /* Firefox */
    font-size:30px;
    text-indent: 50px;
  }